<!DOCTYPE html>
<html lang="ua">
<head>
    <%- include("./../../components/body") %>

    <title>EFD | Автошкола | Курс</title>
</head>
<body>
    <div class="wrapper">
        
        <%- include("./../../components/header") %>
       
        <main>
            <div class="main__title">
                <h1>Наказові знаки</h1>
            </div>
            <div class="container">
                <div class="courseDetail__container">
                    <div class="courseDetail__content">
                        <h3>ОСНОВНІ ТЕРМІНИ ТА ВИЗНАЧЕННЯ.</h3>
                        <p><strong>Перехрестя </strong>- місце перетину (примикання, розгалуження) доріг в одному рівні.
                            Не вважаються перехрестями місця виїзду з прилеглих територій (дворів, автозаправок, промислових майданчиків, тощо).
                        </p>
                        <p>
                            За своєю геометрії перехрестя можуть бути самими різними - від "класичних" чотиристоронніх до найхимерніших неправильної форми. 
                            В цьому ракурсі всі перехрестя можна розділити на дві великі групи - регульовані і нерегульовані:
                            <ul>
                                <li><strong>Регульоване </strong>- перехрестя, черговість проїзду якого визначається сигналами світлофора чи регулювальника.</li>
                                <li>
                                    <strong>Нерегульоване </strong>- черговість його проїзду визначають:
                                    <ol>
                                        <li>знаки пріоритету - воно називається нерівнозначне;</li>
                                        <li>правило проїзду нерегульованих перехресть - рівнозначне.</li>
                                    </ol>
                                </li>
                            </ul>
                        </p>
                        <p>
                            Сам термін нерівнозначне відбувається з того, що на такому перехресті кожної з пересічних доріг штучно присвоєно різний статус - головна і другорядна. Дороги не рівні за своїм значенням, звідси і назва
                        </p>
                        <p>
                            <strong>Головна дорога</strong> - дорога з штучним покриттям (асфальт, бетон, щебінь - будь-яке покриття) відносно ґрунтової:
                        </p>
                        <div class="img__wrapper">
                            <img src="../../imgs/public/images__5512.jpg">
                        </div>
                        <p>або позначена відповідним дорожнім знаком:</p>
                        <div class="img__wrapper">
                            <img src="../../imgs/public/unnamed359.jpg">
                        </div>
                        <p>На верхньому фото знаків немає, вони там не потрібні, оскільки до асфальтованого шосе примикає грунтовка - перехрестя все одно нерівнозначне.</p>
                        <p>
                            Не важко здогадатися, що водії, що під'їжджають до перехрестя по головній дорозі, користуються перевагою, тобто правом на першочергове рух. </p>
                        <p>На тих же, хто під'їде до перехрестя по другорядній дорозі, поширюється вимога
                            <strong>Дати дорогу</strong> - тобто не продовжувати або не відновлювати рух, не виконувати інших дій і маневрів (крім вимоги звільнити займану смугу), якщо це може змусити того, хто користується перевагою, різко змінити напрямок або швидкість.</p>
                    </div>
                    <%- include("./components/Path", { item: 1 }) %>
                </div>
                <div class="courseDetail__btns">
                    <a class="block__btn btn courseDetail__btn _unactive">Назад</a>
                    <a href="/course/nakazovi_znaki/2" class="block__btn btn btn__full courseDetail__btn">Далі</a>
                </div>
            </div>
        </main>

        <%- include("./../../components/footer") %>
    </div>

    <%- include("./../../components/authWrapper.ejs") %>
    <%- include("./../../components/mainScripts.ejs") %>
    
    <script>
        getCourcesForMain()
    </script>

</body>
</html>